---
layout: default
title: "Life"
group: navigation
order: 2
description: ""
images:
  - image_path: /p/IMG_0822.jpg
    title: here
  - image_path: /p/IMG_0788.jpg
    title: here
  - image_path: /p/IMG_0765.jpg
    title: here
---
{% include JB/setup %}

<ul>
  {% for photo in page.images %}
    <li>
        <a href="{{ photo.image_path }}"><img src="{{ photo.image_path }}" alt="{{ photo.title }}" ></a>
    </li>
  {% endfor %}
</ul>


<style type="text/css">
img{
	height: 30%;
	margin-top: 20px;
	margin-left: 35px;
	width: 30%;
	float: left;
}

li{
	list-style-type: none;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/life.js" type="text/javascript"></script>