body{
	background-color: #1AA6B7;
	
}

div{
	font-size: 20px;
	margin-top: 25%;
	color: white;
}

li{
	margin-left: 45%;
	padding: 4px 10px;
	width: 4%;
	transition-property:background,border-radius;
	-webkit-transition-timing-function: linear;
	animation-timing-function: ease-in-out;
	-webkit-font-smoothing:antialiased;
	transition-duration: 0.2s, 0.4s;
	cursor: pointer;
}
ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color:white;
}

li:hover{
	background-color: #022D41;
	border-radius: 10%;

}

p{
	font-size: 10px;
}



#githubicon{
	fill: white;
}